.services{
    background-color: #F8F7F4;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 4em;
}

.service-sub{
    font-family: Poppins;
    color: #CBA07B;
}

.service-title{
    color: #5B3B1C;
    font-size: 3em;
    text-shadow: 2px 2px 10px rgba(132, 96, 45, .5);
    font-family: Poppins;
}

.services-card{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8em;
    max-width: 70em;  
    font-family: Poppins;
    color: #CBA07B;
}

.parag{
    color: #5B3B1C;
}

.service-box{
    display: flex;
    width: 12em;
    flex-direction: column;
    justify-content: center;
}

@media (width < 1024px) {
    .service-box{
        width: 9em;
        font-size: 1em;
    }

    .service-title{
        font-size: 2em;
    }

    .service-sub{
        font-size: 1em;
    }

    .parag{
        font-size: 15px;
    }
    .services-card{
        gap: 5em;
    }
}

@media (width < 599px) {
    .service-box{
        width: 9em;
        font-size: .5em;
    }

    .service-title{
        font-size: 1em;
    }

    .service-sub{
        font-size: .5em;
    }

    .parag{
        font-size: 9px;
    }

    .services-card{
        margin-top: 1em;
    }
    
}