.best-seller{
    background-color: #F8F7F4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
}

.best-menu {
    margin-top: 1em;
    font-family: Poppins;
    font-size: 1em;
    color: #AF8561;
}

.best{
    font-family: Poppins ;
    color: #5B3B1C;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 10px rgba(132, 96, 45, .5);
}

.card{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    max-width: 80em;  
}

.cardimage{
    font-family: Poppins;
    text-align: center;
    justify-content: center;
    background-color: #AF8561;
    padding: .5em;
    border-radius: 1em;
    width: 15em;
    color: white;
    transition: background-color .3s, box-shadow .3s ease;
}

.cardimage:hover {
    background-color: #f3e7d1;
    box-shadow: 10px 10px 0px rgba(132, 96, 45, .5);
    color: #5B3B1C;
}

.fa-solid:hover{
    color: #AF8561;
    text-shadow:  rgba(245, 242, 237, 0.5);
}
.cardimage p{
    font-family: Poppins;
    color: #2b1500;
    
}

.cardimage img{
    width: 100%;
    height: auto;
    margin-bottom: .5em;
    border-radius: .7em;
}

@media (width < 1024px) {
    .cardimage{
        border-radius: .8em;
        width: 10em;
    }

    .cardimage h3{
        font-size: 13px;
    }

    .cardimage p{
        font-size: 8px;
    }
    
    .best{
        font-size: 2.5em;
    }

    .best-menu {
        font-size: 1em;
    }

}

@media (width < 599px) {
    .best-seller {
        padding-bottom: .5em;
    }
    .card{
        gap: 1.3em;
        margin-top: .8em;
    }
    
    .cardimage{
        border-radius: .1em;
        width: 6em;
        padding: .1em;
    }

    .cardimage h3{
        font-size: 5px;
    }

    .cardimage p{
        font-size: 3px;
    }

    .cardimage img{
        margin-bottom: .2em;
        border-radius: 2px;
    }

    .best{
        font-size: 1em;
    }

    .best-menu {
        font-size: .5em;
    }

    .cardimage:hover {
        background-color: #f3e7d1;
        box-shadow: 3px 3px 0px rgba(132, 96, 45, .5);
    }

}
